#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias h="history"
alias j="jobs"
alias cls="clear"
alias csl="clear"

# List all files colorized in long format
alias l="ls -lF --color=auto"

# List all files colorized in long format, including dot files
alias la="ls -laF --color=auto"
alias lf='find `pwd` -maxdepth 1'

# List only directories
alias lsd="ls -lF --color=auto | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls --color=auto"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "$method"="lwp-request -m '$method'"
done


# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# gpg
alias gpgl='gpg --list-secret-keys --keyid-format LONG'

# Clean all log files under custom dir
alias cclog='find /usr/local/var/log/ -type f -name "*.log" -exec sh -c '\''echo > "$1"'\'' -- {} \;'

alias cdpath='cd $(pbpaste)'
alias e='$EDITOR '

# apt
alias ainstall='sudo apt install '
alias aremove='sudo apt remove '
alias apurge='sudo apt remove --purge '

# Utils
alias tmuxstart='tmux new -s general -d ; tmux new -s this -d'
alias tmuxstop='tmux kill-server'
alias tmuxgeneral='tmux attach -t general'
alias tmuxthis='tmux attach -t this'
